/* You can add global styles to this file, and also import other style files */

@import 'assets/font/font-awesome/css/font-awesome.min.css';
@import 'assets/font/simple-line-icons/simple-line-icons.min.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/uc-style.css';

html { font-size: 16px; height: 100%;}

* { margin: 0; padding: 0; box-sizing: border-box; }

body { height: 100%; color: #333333; font-family: "Microsoft YaHei", "Open Sans"; margin: 0px !important; font-size: 13px; direction: ltr; }

a { text-decoration: none; color: inherit; cursor: pointer; }

li { display: inline-block; list-style: none; }

i, em { display: inline-block; font-style: normal; }

.clear:after { clear: both; }

.row { width: 100%; overflow: hidden; }

.col-4 { float: left; width: 33.33333%; }

.mt-3 { margin-top: 30px; }

.blue { background: #27a9e3; color: #fff; }
.blue .more { background: #2295c9; }

.indigo { background: #28b779; color: #fff; }
.indigo .more { background: #17a769; }

.purple { background: #852b99; color: #fff; }
.purple .more { background: #751e88; }